In [31]:
import numpy
import pandas as pd
import json
import sqlalchemy as db
from sqlalchemy import text
import matplotlib.pyplot as plt
import seaborn as sns

#I do not guarantee that the following code is 100% sql injection proof

<h2>Connect to (MySQL) Server</h2>

In [3]:
username = "root"
password = "password"
server = "localhost"
database = "quakes"

engine = db.create_engine(f"mysql+pymysql://{username}:{password}@{server}/{database}")

In [9]:
engine.table_names()

/var/folders/f2/jq5dp98n2pvcf43bjrz71s540000gn/T/ipykernel_4764/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['Agencies',
 'Alerts',
 'Contributed',
 'Events',
 'IdMap',
 'MagnitudeTypes',
 'Status']

<h2>Read data from files</h2>

In [ ]:
with engine.connect() as con:
    engine.create

In [ ]:
def process_ids(id, ids, con):
    ids = set(ids)
    ids.add(id)
    ids = list(ids)
    
    con.execute(text("DROP TALBE IF EXISTS temp_ids"))
    con.execute(text("CREATE TEMPORARY TABLE temp_ids (local_id INT NOT NULL, global_id INT)"))
    
    con.execute(text(f"INSERT INTO temp_ids \
                       SELECT local_id, global_id \
                       FROM IdMap \
                       WHERE local_id IN ({",".join(ids)})"))
    res = con.execute(text("SELECT DISTINCT local_id FROM temp_ids"))
    
    not_found = ids.copy()
    for row in res:
        not_found.remove(row['local_id'])
    
    for not_found_id in not_found:
        con.execute(text(f"INSERT INTO temp_ids VALUE ({not_found_id},NULL)"))
    
    res = con.execute(text("SELECT DISTINCT global_id FROM temp_ids"))
    gis = [r[0] for r in res]
    
    global_id = -1
    if len(gis) > 1:
        raise Exception('data is inconsistent')
    
    global_id = gis[0] if len(gis) == 1 else 
        con.execute(text('SELECT coalesce(MAX(global_index), 0) FROM IdMap')).scalar() + 1

    con.execute(text(f'INSERT INTO idMap(local_id, global_id) SELECT t.local_id, {global_id} FROM temp_ids t WHERE global_id is NULL'))
    return con.execute(text(f'SELECT id FROM IdMap WHERE local_id = {id}')).scalar()

def process_sources(sources, event_id, con):
    sstr = ",".join(sources)
    
    for source in sources:
        if 
    
    con.execute(text(f'INSERT INTO Contributed(Agency, Event) \
                       SELECT a.id, {event_id} \
                       FROM Agencies a \
                       WHERE a.name IN ({sstr})'))

In [23]:
def process_json_entry(entry, con):
    if entry['properties']['type'] != 'earthquake':
        return
    
    id = entry['id']
    [long, lat, depth] = entry['geometry']['coordinates']
    props = entry['properties']
    
    common_query = "SELECT id FROM {0} WHERE name == {1}"
    alert_id = con.execute(text(common_query.format("Alerts", props['alert'])))
    status_id = con.execute(text(common_query.format("Status", props['status'])))
    net_id = con.execute(text(common_query.format("Agencies", props['net'])))
    mag_type_id = con.execute(text(common_query.format("MagnitudeTypes", props['magType'])))
    
    local_ids = set(filter(None, item['properties']['ids'].split(',' )))
    local_ids.add(id)
    local_id = process_ids(id, local_ids)
    
    con.execute(text(f'INSERT INTO Events VALUE(\
                      magnitude, place, time,\
                      updated, timezone_offset, url,\
                      detail, felt, cdi,\
                      mmi, alert, status,\
                      tsunami, significance, network,\
                      n_stations, dmin, rms,\
                      gap, magnitude_type, title,\
                      longitude, latitude, depth,\
                      local_id, types, code\
                     )(\
                      {props['mag']}, {props['place']}, {props['time']//1000},\
                      {props['updated']//1000}, {props['tz']}, {props['url']},\
                      {props['detail']}, {props['felt']}, {props['cdi']},\
                      {props['mmi']}, {alert_id}, {status_id},\
                      {props['tsunami']}, {props['sig']}, {net_id},\
                      {props['nst']}, {props['dmin']}, {props['rms']},\
                      {props['gap']}, {mag_type_id}, {props['title']},\
                      {long}, {lat}, {depth},\
                      
                        )'))
    
    
    print(props.keys())

In [78]:
records[0]['properties']['ids']

',hv72961597,'

In [24]:
process_json_entry(records[0])

dict_keys(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi', 'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids', 'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type', 'title'])

In [64]:
type(records[0]['properties']['time'])

int

In [62]:
all_files = !ls
all_files = list(filter(lambda x: x.startswith("quakes"), all_files))
all_files

['quakes-00000-20000.json',
 'quakes-20000-40000.json',
 'quakes-40000-60000.json',
 'quakes-60000-80000.json',
 'quakes-80000-100000.json',
 'quakes.ipynb']

In [11]:
records = []
for file in all_files:
    with open(file) as f:
        data = json.load(f)
        records.extend(data['features'])
len(records)

KeyError: 'features'

In [182]:
records[0].keys()

dict_keys(['type', 'properties', 'geometry', 'id'])

In [184]:
records[0]['properties'].keys()

dict_keys(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi', 'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids', 'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type', 'title'])

In [66]:
def construct_ids_dict(data):
    local_id_to_global_id = {}
    next_global_id = 0
    
    for item in data:
        #local_ids = set of id + ids
        local_ids = set(filter(None, item['properties']['ids'].split(',' )))
        local_ids.add(item['id'])
        
        global_id = -1
        
        #global_id = -1 if none of local ids were assigned
        #otherwise = local_id_to_global_id[local_id] for some assigned local id
        for local_id in local_ids:
            #local_id was already assigned then...
            if local_id in local_id_to_global_id:
                new_global_id  = local_id_to_global_id[local_id]
                
                #if global id was not assigned earlier then assign new_global_id to it
                if global_id == -1:
                    global_id = new_global_id
                #raise consistency exception
                elif global_id != new_global_id:
                    raise Exception("Dataset is inconsistent")
        
        #none local ids were assigned earlier
        if global_id == -1:
            global_id = next_global_id
            next_global_id = next_global_id + 1
        
        for local_id in local_ids:
            local_id_to_global_id[local_id] = global_id
            
    return local_id_to_global_id

In [67]:
ids = construct_ids_dict(records)

In [68]:
df = pd.DataFrame([[key, value] for key, value in ids.items()], columns=["local", "global"])
df.head(20)

             local  global
0       hv72961597       0
1       hv72961587       1
2       hv72961577       2
3       us7000gx6m       3
4   usauto7000gx6g       4
5       us7000gx6g       4
6       us7000gx6b       5
7       us7000gx64       6
8       us7000gx62       7
9       us7000gx5v       8
10      pr71341938       9
11      hv72961452      10
12      us7000gx5k      10
13      us7000gx5e      11
14      us7000gx57      12
15      tx2022fvzq      12
16      us7000gx4s      13
17      us7000gx4l      14
18      us7000gx4k      15
19      tx2022fvwu      16

In [69]:
len(primaries)

NameError: name 'primaries' is not defined

In [75]:
a = [record['id'] for (idx,record) in enumerate(records)]

import collections
print([item for item, count in collections.Counter(a).items() if count > 1])

['us60008bll']

In [76]:
for record in records:
    if record['id'] == 'us60008bll':
        print(record)

{'type': 'Feature', 'properties': {'mag': 4.2, 'place': '53 km WSW of Chonchi, Chile', 'time': 1583576935350, 'updated': 1590271400040, 'tz': None, 'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/us60008bll', 'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us60008bll&format=geojson', 'felt': None, 'cdi': None, 'mmi': None, 'alert': None, 'status': 'reviewed', 'tsunami': 0, 'sig': 271, 'net': 'us', 'code': '60008bll', 'ids': ',us60008bll,', 'sources': ',us,', 'types': ',moment-tensor,origin,phase-data,', 'nst': None, 'dmin': 0.578, 'rms': 0.71, 'gap': 155, 'magType': 'mwr', 'type': 'earthquake', 'title': 'M 4.2 - 53 km WSW of Chonchi, Chile'}, 'geometry': {'type': 'Point', 'coordinates': [-74.3616, -42.845, 23.96]}, 'id': 'us60008bll'}
{'type': 'Feature', 'properties': {'mag': 4.2, 'place': '53 km WSW of Chonchi, Chile', 'time': 1583576935350, 'updated': 1590271400040, 'tz': None, 'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/us60008bll', 'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us60008bll&format=geojson', 'felt': None, 'cdi': None, 'mmi': None, 'alert': None, 'status': 'reviewed', 'tsunami': 0, 'sig': 271, 'net': 'us', 'code': '60008bll', 'ids': ',us60008bll,', 'sources': ',us,', 'types': ',moment-tensor,origin,phase-data,', 'nst': None, 'dmin': 0.578, 'rms': 0.71, 'gap': 155, 'magType': 'mwr', 'type': 'earthquake', 'title': 'M 4.2 - 53 km WSW of Chonchi, Chile'}, 'geometry': {'type': 'Point', 'coordinates': [-74.3616, -42.845, 23.96]}, 'id': 'us60008bll'}

In [131]:
primaries = set(record["id"] for record in records)

In [137]:
len(set(df.local))

141652

In [191]:
df = df.set_index('local')

In [136]:
len([x for x in df.local if not x in primaries])

41653

In [193]:
primaries = list(primaries)

In [49]:
result = process_json(gj)

In [51]:
item = result[0]

In [52]:
item.keys()

dict_keys(['type', 'properties', 'geometry', 'id'])

In [54]:
item['properties'].keys()

dict_keys(['mag', 'place', 'time', 'updated', 'tz', 'url', 'detail', 'felt', 'cdi', 'mmi', 'alert', 'status', 'tsunami', 'sig', 'net', 'code', 'ids', 'sources', 'types', 'nst', 'dmin', 'rms', 'gap', 'magType', 'type', 'title'])

In [58]:
list(filter(None, item['properties']['ids'].split(',' )))

['hv72961597']

In [201]:
len(set([record['properties']['code'] for record in records]))

99997

In [65]:
primaries

NameError: name 'primaries' is not defined